<h3>Welcome {{user}}</h3>
<h5>Enjoy your stories!</h5>

{{#if stories}}
    <div class="row">
        {{#each stories}}
        <div class="col s12 m4">
            <div class="card amber lighten-5">
                <div class="card-content black-text">
                    <span class="new badge" data-badge-caption="">{{status}}</span>
                    <a href="/stories/{{_id}}"><p class="card-title">{{title}}</p></a>
                    <p><small>{{formatDate createdAt 'MMMM Do YYYY, h:m:ss a'}}</small></p>
                    <p>{{stripTags ( truncate body 100)}}</p>
                </div>
                <div class="card-action">
                    <a href="/stories/edit/{{_id}}" class="waves-effect waves-light btn">Edit</a>
                    <a href="#" class="waves-effect waves-light btn red">Delete</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
{{else}}
    <p>Sorry, no stories yet!</p>
{{/if}}